h2 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.05rem;
 /* color: #1a1a1a;*/
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

/* Contenedor del formulario */
form {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 40px auto;
   display: flex;
  flex-direction: column;
  align-items: center;
}



/* Inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
   margin-bottom: 1rem;
}

/* Placeholder */
input::placeholder {
  color: #ccc;
}

/* Efecto al enfocar */
input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  outline: none;
}

button {
background: linear-gradient(to right, #202b68, #1beb13);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-size: 200% auto;
animation: shine 4s linear infinite;

@keyframes shine {
  to {
    background-position: -200% center;
  }
}
}